SimpleListTest/SimpleListTest.Droid/bin
SimpleListTest/SimpleListTest.Droid/obj
SimpleListTest/SimpleListTest.iOS/bin
SimpleListTest/SimpleListTest.iOS/obj
SimpleListTest/SimpleListTest.WinPhone/Bin
SimpleListTest/SimpleListTest.WinPhone/obj
SimpleListTest/SimpleListTest/bin
SimpleListTest/SimpleListTest/obj
